.menuBox{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 0 2px 2px rgb(93, 93, 95);
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
}