.navbar{
    padding: 1vh;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3vh;
}
.navLink{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
.navLink:hover{
    box-shadow: 0 0 4px 4px white;
}