.horizontal-slider {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb {
  cursor: pointer;
  background: black;
  border: 5px solid white;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  outline: none;
}

.track {
  background: black;
  height: 9px;
}

.track.track-0 {
  background: white;
}

/* the line  */
.horizontal-slider .track {
  height: 4px;
}
/* the circle */
.horizontal-slider .thumb {
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
