.sortNode{
    width: 4px;
    margin: 2px;
    background-color: rgb(99, 200, 73);
}

.inplaceNode{
    background-color: darkgreen;
}
.swappedNode{
    background-color: rgb(232, 230, 114);
}
.highlitedNode{
    background-color: blue;
}