.home{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;

}
.box{
    height: 30vw;
    width: 30vw;
    background-color: black;
    margin: 1vw;
    flex: 1;
    border: none;
    box-shadow: 0 0 5px 5px white;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .home{
        flex-direction: column;
    }
    .box{
        height: 400px;
        width: 400px;
    }
}
.box:hover{
    box-shadow: 0 0 10px 10px grey;
}
.arrayVisualizer{
    background-image: url("../assets/ArrayImagev2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sortingVisualizer{
    background-image: url("../assets/sortingImagev2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.pathfindingVisualizer{
    background-image: url("../assets/pathfindingImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
